code {
    color: var(--bs-primary) !important;
}

h1, h2:not(.accordion-header) {
    text-decoration: underline solid var(--bs-primary) 0.07em !important;
}

.cursor-not-allowed {
    cursor: not-allowed!important;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    object-fit: fill;
}

.special {
    background-image: url(../assets/special/rainbow.gif)!important;
    background-clip: text!important;
    -webkit-background-clip: text!important;
    color: transparent!important;
}

.blur_span {
    backdrop-filter: blur(10px);
    z-index: -99;
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;
}